.about-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.about-inner {
    margin-top:10px;
}

.about-header {
	display: block;
	font-family: 'neouthin';
	color: #ff0;
	font-size: 32px;
	line-height: 30px;
	padding:0;
}

.about-desc {
	font-family: "open_sansregular";
	color: #fff;
	font-size: 14px;
}

.about-desc-header {
	font-family:'open_sans_bold';
	font-size: 20px;
}

.profile-img {
	padding: 0 20px 10px 0;
	float: left;
}

.about-main-content {
	margin:20px 0 15px;
}

.about-credit-img {
	float:left;
	padding-right: 14px;
}

.about-credit-name,
.about-credit-role {
	font-family: 'open_sans_bold';
	color:#ff0;
	font-size: 20px;
}

.about-credit-role {
	font-size: 14px;
	color:#fff;
	font-family: 'open_sansregular';
}

.about-credit-extra {
	font-family: 'open_sansregular';
	padding: 10px 0;
	color:#666;
}

.about-header.back-text {
	text-align: center;
	padding: 10px;
}

.byline {
	font-family: 'open_sansbold_italic';
	font-size: 24px;
	color:#ff0;
}

.contact-box {
	margin:10px 0;
}

.contact-box ul {
	margin:0;
}

.contact-box ul li {
	display:inline;
}

.contact-box ul li,
.contact-box ul li a {
	margin:0;
}

.about-title-wrapper{
	background: #222;
	text-align: center;
	padding: 14px 0;
}

.about-title-wrapper p {
	margin:0;
	color:#ff0;
	font-family: 'Open Sans';
	text-transform: uppercase;
	font-size: 26px;
}