<link href="Pages/Resume/styles/resume-style.css" rel="stylesheet"/>
<div class="res-content-wrapper">
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<div class="res-title">
					<div class="res-name">Shannon Veerkamp</div>
					<div class="res-job">Web Designer</div>
				</div>
				<section>
					<article>
						<div class="res-job-title">
							UI Designer
						</div>
						<div class="job-company">
							<a href="http://www.healthx.com">Healthx</a>
						</div>
						<div class="res-job-date">
							July 2012 - Present
						</div>
						<div class="res-job-location">
							Indianapolis, IN
						</div>
						<div class="res-job-desc">
							<ul>
								<li>Work with clients to implement new web portal designs or make changes to existing portal designs</li>
								<li>HTML5,CSS3, JQUERY and XSLT development</li>
								<li>Collaborate with Healthx employees to create new software features</li>
								<li>In-house marketing materials</li>
							</ul>
						</div>
					</article>
					<article>
						<div class="res-job-title">
							Freelance Designer
						</div>
						<div class="job-company">
							<a href="http://www.veerkampvisuals.com">Veerkamp Visuals</a>
						</div>
						<div class="res-job-date">
							May 2012 - Present
						</div>
						<div class="res-job-location">
							Indianapolis, IN
						</div>
						<div class="res-job-desc">
							<ul>
								<li>Meet with clients to implement new website or web applications designs</li>
								<li>Work with clients on existing projects or design needs</li>
							</ul>
						</div>
					</article>
					<article>
						<div class="res-job-title">
							Web Editor
						</div>
						<div class="job-company">
							<a href="http://www.ballbearingsmag.com">Ball Bearings Online</a>
						</div>
						<div class="res-job-date">
							January 2009 - May 2012
						</div>
						<div class="res-job-location">
							Muncie, IN
						</div>
						<div class="res-job-desc">
							<ul>
								<li>Design and edit website HTML and CSS for national award-winning student publication</li>
								<li>Maintain custom PHP CMS</li>
								<li>Design and develop first-ever websites on journalism stories. This includes brainstorming ways to use the web to tell interactive stories</li>
								<li>Coordinate and direct photoshoots</li>
								<li>Train new members in Adobe software and interactive storytelling</li>
							</ul>
						</div>
					</article>
					<article>
						<div class="res-job-title">
							Web Design Intern
						</div>
						<div class="job-company">
							<a href="http://www.352media.com">352 Media Group</a>
						</div>
						<div class="res-job-date">
							May 2011 - August 2011
						</div>
						<div class="res-job-location">
							Gainesville, FL
						</div>
						<div class="res-job-desc">
							<ul>
								<li>Design websites on concepts given by the advisers</li>
								<li> Attend lectures which discuss best web practices for design, interactivity, usability and web programming in HTML and CSS</li>
								<li>Participate in weekly design critiques</li>
							</ul>
						</div>
					</article>
					<article>
						<div class="res-job-title">
							Web Design Intern
						</div>
						<div class="job-company">
							<a href="http://www.4omega.com">Omega Design Studio</a>
						</div>
						<div class="res-job-date">
							May 2010 - August 2010
						</div>
						<div class="res-job-location">
							Carmel, IN
						</div>
						<div class="res-job-desc">
							<ul>
								<li>Conceptualize and execute website designs for clients</li>
								<li>Use web programming languages such as HTML, CSS and ColdFusion</li>
								<li>Assist other designers or developers with web projects</li>
							</ul>
						</div>
					</article>
				</section>
			</div>
		</div>
	</div>
</div>