<div class="res-content-wrapper">
	<div class="container">
		<div class="row-fluid">
			<div class="span4">
					<div class="res-title">
						<img src="Pages/Resume/img/profile.jpg"/>
						<div class="res-name">Shannon Veerkamp</div>
						<div class="res-job">Web Designer</div>
						<div class="contact-info">
							<span class="contact-title">mobile:</span> 317-431-6016</div>
							<div class="contact-info">
								<span class="contact-title">email:</span> <a class="nav-link-contact"href="#">skveerkamp@gmail.com</a></div>
								<div class="contact-info">
									<span class="contact-title">portfolio:</span> 
									<a href="www.veerkampvisuals.com">veerkampvisuals.com</a></div>
									<button class="res-btn">Resume PDF</button>
								</div>
							</div>
						<div class="span8">
							<div class="res-experience-wrapper">
								<section>
									<div class="res-header">Experience</div>
									<article>
										<div class="res-job-title">
											UI Designer
										</div>
										<div class="job-company">
											<a href="http://www.healthx.com">Healthx</a>
										</div>
										<div class="res-job-date">
											July 2012 - Present
										</div>
										<div class="res-job-location">
											Indianapolis, IN
										</div>
										<div class="res-job-desc">
											<ul>
												<li>Work with clients to implement new web portal designs or make changes to existing portal designs</li>
												<li>HTML5,CSS3, JQUERY and XSLT development</li>
												<li>Collaborate with Healthx employees to create new software features</li>
												<li>In-house marketing materials</li>
											</ul>
										</div>
									</article>
									<article>
										<div class="res-job-title">
											Freelance Designer
										</div>
										<div class="job-company">
											<a href="http://www.veerkampvisuals.com">Veerkamp Visuals</a>
										</div>
										<div class="res-job-date">
											May 2012 - Present
										</div>
										<div class="res-job-location">
											Indianapolis, IN
										</div>
										<div class="res-job-desc">
											<ul>
												<li>Meet with clients to implement new website or web applications designs</li>
												<li>Work with clients on existing projects or design needs</li>
											</ul>
										</div>
									</article>
									<article>
										<div class="res-job-title">
											Web Editor
										</div>
										<div class="job-company">
											<a href="http://www.ballbearingsmag.com">Ball Bearings Online, Student Publication</a>
										</div>
										<div class="res-job-date">
											January 2009 - May 2012
										</div>
										<div class="res-job-location">
											Muncie, IN
										</div>
										<div class="res-job-desc">
											<ul>
												<li>Design and edit website HTML and CSS for national award-winning student publication</li>
												<li>Maintain custom PHP CMS</li>
												<li>Design and develop first-ever websites on journalism stories. This includes brainstorming ways to use the web to tell interactive stories</li>
												<li>Coordinate and direct photoshoots</li>
												<li>Train new members in Adobe software and interactive storytelling</li>
											</ul>
										</div>
									</article>
									<article>
										<div class="res-job-title">
											Web Design Intern
										</div>
										<div class="job-company">
											<a href="http://www.352media.com">352 Media Group</a>
										</div>
										<div class="res-job-date">
											May 2011 - August 2011
										</div>
										<div class="res-job-location">
											Gainesville, FL
										</div>
										<div class="res-job-desc">
											<ul>
												<li>Design websites on concepts given by the advisers</li>
												<li> Attend lectures which discuss best web practices for design, interactivity, usability and web programming in HTML and CSS</li>
												<li>Participate in weekly design critiques</li>
											</ul>
										</div>
									</article>
									<article>
										<div class="res-job-title">
											Web Design Intern
										</div>
										<div class="job-company">
											<a href="http://www.4omega.com">Omega Design Studio</a>
										</div>
										<div class="res-job-date">
											May 2010 - August 2010
										</div>
										<div class="res-job-location">
											Carmel, IN
										</div>
										<div class="res-job-desc">
											<ul>
												<li>Conceptualize and execute website designs for clients</li>
												<li>Use web programming languages such as HTML, CSS and ColdFusion</li>
												<li>Assist other designers or developers with web projects</li>
											</ul>
										</div>
									</article>
								</section>
							</div>
							<div class="res-education-wrapper">
								<div class="res-header">Education</div>
								<div class="res-education">
									<p>Ball State University</p>
									<p>Bachelor of Science Cum Laude</p>
									<p>August 2008 – May 2012</p>
									<p><span style="font-family:'open_sanssemibold'">Major:</span> Journalism Graphics</p>
									<p><span style="font-family:'open_sanssemibold'">Minor:</span> Computer Science</p>
								</div>
							</div>
							<div class="res-software-wrapper">
								<div class="res-header">Software & Languages</div>
								<div class="res-header-secondary">Proficient</div>
								<ul class="res-skills">
									<li>HTML5 + CSS3</li>
									<li>Adobe Suite</li>
									<li>jQuery + Javascript</li>
								</ul>
								<div class="res-header-secondary">Familiar</div>
								<ul class="res-skills">
									<li>PHP + MySQL</li>
									<li>Actionscript</li>
									<li>Java</li>
									<li>Final Cut</li>
									<li>XSLT + XML</li>
								</ul>
							</div>
							<div class="res-award-wrapper">
								<div class="res-header">Awards</div>
								<div class="res-award-section">
									<div class="res-award-title">2013 Best Online Multimedia</div>
									<div class="res-award-company">Society of Professional Journalists Indiana's 2012 - 2013, Best in Indiana Journalism</div>
									<div class="res-award-date">March 2013</div>
									<div class="res-award-desc">Award for solo project, and interactive infographic: <a href="http://ballbearingsmag.com/pics/stories/website/1757/default.php">Sex Trafficking</a></div>
								</div>
								<div class="res-award-section">
									<div class="res-award-title">2011-2012 Best Overall Website Design</div>
									<div class="res-award-company">Indiana Collegiate Press Association</div>
									<div class="res-award-date">April 2013</div>
									<div class="res-award-desc">Designer of Ball Bearings Online Magazine website, HTML and CSS programming</div>
								</div>
								<div class="res-award-section">
									<div class="res-award-title">Additional Honors & Awards</div>
									<div class="res-award-desc">Ingelhart News Scholar 2008 - 2009</div>
									<div class="res-award-desc">Danny Collier Memorial Scholarship 2009-2010, 2011 -2012</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
