.navbar {
	height: 40px;
	background-color: #000;
	color: white;
	line-height: 28px;
	padding: 5px;
}

.nav-title {
	float:left;
}

.nav-links-container {
	float:right;
}

.nav-link-home {
	width: 25px;
	height: 21px;
	background: url('../../img/icons.jpg') no-repeat -7px 0;
}

.nav-link-home:hover {
	background-position: -7px -27px;
}
.nav-link-work {
	width: 25px;
	height: 21px;
	background: url('../../img/icons.jpg') no-repeat -38px 0;
}

.nav-link-work:hover {
	background-position: -38px -27px;
}

.nav-link-about {
	width: 25px;
	height: 21px;
	background: url('../../img/icons.jpg') no-repeat -68px 0;
}

.nav-link-about:hover {
	background-position: -68px -27px;
}

.nav-link-blog {
	width: 26px;
	height: 21px;
	background: url('../../img/icons.jpg') no-repeat -100px 0;
}

.nav-link-blog:hover {
	background-position: -100px -27px;
}

.nav-link-home,
.nav-link-work,
.nav-link-about,
.nav-link-blog {
	text-indent: -9999px;
	color: transparent;
	display: block;
	float: left;
	margin-right:10px;
	cursor: pointer;
}