.navbar {
	height: 40px;
	background-color: #000;
	color: white;
	padding: 9px 5px 5px 5px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-bottom: 1px solid #333333;
}

.nav-title {
	float:left;
}

.nav-links-container {
	float:right;
}

.nav-links-container a:last-child {
	margin:0;
}

.nav-link-home {
	width: 25px;
	height: 21px;
	background: url('../../img/icons.jpg') no-repeat -7px 0;
}

.nav-link-home:not(.active):hover {
	background-position: -7px -27px;
}
.nav-link-home.active {
    background-position: -7px -27px;
}
.nav-link-work {
	width: 25px;
	height: 21px;
	background: url('../../img/icons.jpg') no-repeat -38px 0;
}

.nav-link-work:not(.active):hover {
	background-position: -38px -27px;
}
.nav-link-work.active {
    background-position: -38px -27px;
}

.nav-link-about {
	width: 25px;
	height: 21px;
	background: url('../../img/icons.jpg') no-repeat -68px 0;
}

.nav-link-about:not(.active):hover {
	background-position: -68px -27px;
}
.nav-link-about.active {
    background-position: -68px -27px;
}

.nav-link-blog {
	width: 26px;
	height: 21px;
	background: url('../../img/icons.jpg') no-repeat -100px 0;
}

.nav-link-blog:not(.active):hover {
	background-position: -100px -27px;
}
.nav-link-blog.active {
    background-position: -100px -27px;
}

.nav-link-home,
.nav-link-work,
.nav-link-about,
.nav-link-blog {
	text-indent: -9999px;
	color: transparent;
	display: block;
	float: left;
	margin-right:10px;
	cursor: pointer;
}