a:hover{
	text-decoration: none;
}

.navbar {
	height: 50px;
	background-color: #000;
	color: white;
	/*padding: 0px 5px 5px 5px;*/

	-moz-box-sizing: border-box;
	box-sizing: border-box;

	border-bottom: 1px solid #333333;
}

.expanded-nav {
    position: relative;
    top: -30px;
    display: none;
}

.expanded-nav>ul {
    margin-left: 0;
}

.expanded-nav>ul>li {
    list-style: none;
}

.expanded-nav>ul>li>a {
    display: block;
    line-height: 20px;
    padding: 10px 20px;
    background-color: #222;
    border-bottom: black solid 1px;
}

.expand-nav-btn {
    display: none !important;
}

.nav-title {
	float:left;
}

.logo {
	width: 109px;
	display:block;
	z-index: 999;
	position: relative;
	left:50%;
	margin-left:-54px;
	float:left;
}

.nav-left{
	position: absolute;
	top: 14px;
	left: 14px;


}

.nav-left a{
	color: #898989;
	font-size: 15px;
	font-family: 'Open Sans';
		-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

.nav-left a:hover{
	color:#fff;
}

.nav-right{
	position: absolute;
	right: 14px;
	top: 13px;
}

.nav-right ul li{
	display:inline-block;
	font-family: 'Open Sans';
	font-style: italic;
	font-weight: 300;
	text-transform: uppercase;
	padding: 0px 9px;
}

.nav-right ul li a{
	color:#aaa;
		-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

.nav-right ul li a:hover{
	color:#fff;
}

.nav-right ul li a.active{
	color:#ff0;
}

.navbar .btn-navbar {
	background: black;
	box-shadow: none;
	margin-top:10px;
}

.navbar .btn-navbar:hover {
	background: black;
	box-shadow: none;
}

.navbar .btn-navbar .icon-bar{
		background-color:#ff0 ;
}


.navbar .btn-navbar:hover .icon-bar{
	background-color:#fff ;
}

.expanded-nav>ul>li>a:hover{
	background: #282828;
}

.expanded-nav>ul>li:last-child>a{
	border-bottom: 1px solid #222;
}

.expanded-nav li a{
	color:#bbb;
	font-family: 'Open Sans';
}