/* Large desktop */
@media (min-width: 1200px) { 	
	.parallax-container {
		display: block;
	} 
	.main-img-nonparallax {
		display:none;
	}

	.hidden-break {
		display:none;
	}
	.contact-box.display-toggle {
		display:none;
	}

/*		.navbar {
		background:red;
		}*/
	}

	@media (max-width: 980px) {
		.res-title {
			position: relative;
		}

		.about-title-wrapper{
			padding:6px 0;
		}

				.contact-list li i{
			font-size: 27px;
padding-right: 10px;
		}


	}

	/* Portrait tablet to landscape and desktop */
	@media (min-width: 768px) and (max-width: 1199px) {

		.about-title-wrapper{
			padding:6px 0;
		}

		.parallax-container {
			display: none;
		}
		.main-img {
			height: auto;
		}
		.main-img.loading {
			height: 80px;
		}

		.home-content-titles li {
			font-size: 40px;
			line-height: 33px;
		}

		.form-horizontal .control-label.contact {
			float:none;
			width:auto;
			text-align: left;
		}

		.contact-modal > div {
			width: 27%;
			margin-left: -13%;
			margin-top: -20%;
		}

		.contact-box ul li, 
		.contact-box ul li a {
			margin: 3px 0;
			width: 100%;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			list-style-type: none;
		}
		.contact-box {
			display:block;
		}
		.about-credit {
			float: none;
			padding-right: 0;
		}


		.contact-box.display-toggle {
			display:none;
		}
/*		.navbar {
		background:orange;
		}*/
	}

	/* Landscape phone to portrait tablet */
	@media (max-width: 767px) {



		.about-title-wrapper{
			padding:4px 0;
			
		}

		.about-title-wrapper p{
			font-size: 19px;
		}

		.intro-callout{
			margin-top:0;
		}

		.intro-callout a{
			background: rgba(63, 63, 63, 0.3);
			display: block;
		}

		.intro-image{
			padding-top: 0;
		}

		.nav-left a:before{
			content:url('/common/img/small_triangle.fw.png');
		}

		.logo{
			opacity: 0;
		}

		.expand-nav-btn {
			display: block !important;
		}
		.nav-right {
			display: none;
		}

		.parallax-container {
			display: none;
		}
		.main-img {
			height: auto;
		}
		.main-img.loading {
			height: 80px;
		}

		.home-content-links li a {
			padding: 10px 0;
			display: block;
			font-size: 20px;
			margin-bottom: 5px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			text-align: center;
			float: none;
		}

		.home-content-titles li {
			font-size: 34px;
			line-height: 16px;
		}

		.timeline-home-header-text {
			font-size: 27px;
		}

		.triangle {
			font-size: 35px;
		}

		.work-content-area .year-container {
			font-size: 22pt;
		}

		.left-corner,
		.right-corner,
		.hover-detail
		{
			display:none !important;
		}

		.project-preview-container {
			width: 95%;
			max-width: 500px;
		}
		li.project-tag {
			display:block;
			float:none;
		}

		#double li {
			width:100%;
		}

		.container {width:95%;}

		.contact ul li{
			display: inline;
			padding: 0 9px;
		}
		.contact-modal > div {
			width: 100%;
			max-width: none;
			left: 0;
			top: 0;
			height: 100%;
			max-width: none;
			width:100%;
			margin-top: 0;
			margin-left: 0;
		}

		.about-vert {
			display:none;
		}

		.contact-box {
			display:none;
		}
		.primary-btn {
			display: block;
			text-align: center;
			box-sizing:border-box;
			-moz-box-sizing: border-box;
		}

		.res-title {
			border-bottom: 1px solid #333;
			padding-bottom: 15px;
			margin-bottom: 15px;
		}
		.about-credit-img {
			float:none;
			padding: 10px 0 19px;
		}
		.about-credit {
			float: left;
			padding-right: 20px;
		}

		#user-email, #user-name, #user-message {
			width:98%;
		}

		.back {
			text-align: center;
		}

		.contact-box.display-toggle {
			display:block;
		}

		.contact-box {
			display:none;
		}


/*	.navbar {
		background:yellow;
		}*/
	}

	/* Landscape phones and down */
	@media (max-width: 480px) {

		.about-credit {
			float: none;
			padding-right: 0;
		}

		.parallax-container {
			display: none;
		}
		.main-img-nonparallax {
			display:block;
		}

		.footer {
			height:20px;
		}

		.copyright {
			font-size: 9px;
		}

		.contact ul {
			margin:0;
		}

		.timeline-home-header-text.display-toggle {
			display:block;
		}
		.timeline-home-header-text {
			display:none;
		}

		.project-title {
			font-size: 36px;
		}

		.contact ul li a{
			font-size:20px;
		}
		.home-content-titles-container,
		.home-content-header{
			display:block;
		}

		.about-header {
			font-size: 22px;
			line-height: 24px;
		}

		.byline {
			font-size: 14px;
		}

		.profile-img {
			float:none;
		}

		.contact-box ul li, 
		.contact-box ul li a {
			display:block;
			box-sizing:border-box;
			-moz-box-sizing: border-box;
		}

		.project-preview-container {
			margin-bottom:5px;
			height: auto;
		}
/*	.navbar {
		background:green;
		}*/

	}

	@media (max-width: 300px) {
		.home-content-titles-container,
		.home-content-header {
			display:none;
		}
		.logo-one
		.logo-two,
		.logo-three {
			line-height: 10px;
		}

		.logo-three {
			margin:0 auto;
			float:none;
		}

		.footer {
			height:33px;
		}

		.copyright {
			font-size: 9px;
			float:none;
		}

		.contact {
			float:none;
		}

		.contact ul {
			margin:0;
		}

		.timeline-home-header-text {
			font-size: 19px;
		}

		.triangle {
			font-size: 28px;
		}

		.work-content-area .year-container {
			font-size: 16pt;
		}

		.project-title {
			font-size: 25px;
		}
/*		.navbar {
		background:grey;
	}
	*/
}
