<div data-model-cid="<%= cid %>" class="project-detail-container">

    <ul class="project-nav">
        <li class="project-detail-back">
            <i class="icon-chevron-left"></i>
            <span>Back</span>
        </li>
        <li class="project-detail-prev">
            <i class="icon-chevron-up"></i>
            <span>Prev</span>
        </li>
        <li class="project-detail-next">
            <i class="icon-chevron-down"></i>
            <span>Next</span>
        </li>
    </ul>

    <div class="project-title">
        <%= projectName %>
    </div>

    <% if (siteLink) { %>
        <a class="site-link" href="<%= siteLink %>" target="_blank">
            WEBSITE
        </a>
    <% } %>

    <div class="project-tags">
        <h5>Contributions</h5>
        <ul>
            <% tags.forEach(function(tag) { %>
            <li class="project-tag">
                <%= tag %>
            </li>
            <% }); %>
        </ul>
    </div>



    <div class="project-slides-container"></div>
</div>