<div data-model-cid="<%= cid %>" class="project-detail-container">

    <div class="project-nav-wrapper">
        <table class="project-nav-table">
            <tr >
                <td rowspan="2"class="left">
                    <i class="fa fa-chevron-left project-detail-back"></i>
                    </td>
                        <td class="top">
                            <i class="fa fa-chevron-up project-detail-prev"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="bottom">
                            <i class="fa fa-chevron-down project-detail-next"></i>
                        </td>
                    </tr>
                </table>
                <div class="project-title">
                    <%= projectName %>
                </div>


                <!-- <div class="project-role">
                    <%= projectRole %>
                </div>
                <div class="project-type">
                    <%= projectType %>
                    <% if (projectTypeDisclaimer) { %> 
                    <span class="project-type-disclaimer"><%= projectTypeDisclaimer %>
                    </span>
                    <% } %>
                </div> -->


<!--                 <% if (siteLink) { %>
                <a class="primary-btn small-btn" href="<%= siteLink %>" target="_blank">
                    website
                </a>
                <% } %> -->

<!--                 <div class="project-tags">
                    <h5>Contributions</h5>
                    <ul id="double" class="list">
                        <% _.each(tags, function(tag) { %>
                        <li class="project-tag">
                            <%= tag %>
                        </li>
                        <% }); %>
                    </ul>
                </div>
                <% if (projectAward) { %>
                <div class="project-award">
                    <h5>Awards</h5>
                    <ul class="list">
                        <% _.each(projectAward, function(award) { %>
                        <li class="project-award-list">
                            <%= award %>
                        </li>
                        <% }); %>
                    </ul>
                </div>
                <% } %> -->
                <!--   </div> -->
            <!-- <div class="span7">
                <div class="project-img">
                    <img src="<%= previewImg %>"/>
                </div>
            </div> -->
        </div>
    </div>
    <div class="container">
        <div class="row-fluid">

            <div class="span12">
                <div>Examples</div>
                <div class="project-slides-container">
                    <i class="icon-spinner icon-spin icon-4x"></i>
                </div>
                <div class="primary-btn scroll-up">Back to Top</div>
            </div>
        </div>
    </div>
</div>
