<div class="work-container">
    <div class="timeline-container">
        <div class="inner-timeline">
            <div class="timeline-home-header-wrapper">
                <div class="timeline-home-header">
                    k
                </div>
                <div class="timeline-home-header-text">
                    Design is <span class="triangle">▲</span> progressive <span class="triangle">▲</span>rt
                </div>
            </div>
            <div class="work-content-area"></div>
        </div>
    </div>
    <div class="project-breakdown-container"></div>
</div>
