.main-img {
    background: #fff;
    position: relative;

    height: 424px;
    width: 100%;
}

.main-img .spinner-container{
    display: none;
}
.main-img.loading .spinner-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -28px;
    margin-top: -32px;

    color: yellow;
}

.main-img.loading img {
    display: none;
}

.parallax-container {
    position: relative;
    margin: 0 auto;
    width: 1297px;
    height: 424px;
    z-index: 1;
    overflow: hidden;
}

.parallax-container .layer9 {
    position: absolute;
    z-index: 11;
    top:-73px;
    left:0;
}

.parallax-container .layer8 {
    position: absolute;
    z-index: 10;
}

.parallax-container .layer7 {
    position: absolute;
    z-index: 9;
    top:-48px;
}

.parallax-container .layer6 {
    position: absolute;
    z-index: 8;
}

.parallax-container .layer5 {
    position: absolute;
    z-index: 7;
}

.parallax-container .layer4 {
    position: absolute;
    z-index: 6;
}

.parallax-container .layer3 {
    position: absolute;
    z-index: 5;
}

.parallax-container .layer2 {
    position: absolute;
    z-index: 4;
}

.parallax-container .layer1 {
    position: absolute;
    z-index: 3;
}

.main-img-nonparallax img {
    margin: 0 auto;
    display: block;
}

.home-content-area {
    width: 100%;
    height: 100%;
}

.home-content-links {
    display: block;
margin: 65px auto 30px;
}

.home-content-links li {
    list-style-type: none;
    display:inline;
}

.home-content-links li a {
font-family: 'verbblack';
color: white;
padding: 8px 19px;
font-size: 19px;
margin-bottom: 10px;
-webkit-transition: all 150ms ease-in-out;
-moz-transition: all 150ms ease-in-out;
-ms-transition: all 150ms ease-in-out;
-o-transition: all 150ms ease-in-out;
transition: all 150ms ease-in-out;
background: #222;
}

.home-content-links li a:hover {
    -webkit-box-shadow: inset 0px 0px 0px 3px #ff0;
    box-shadow: inset 0px 0px 0px 3px #ff0;
    text-decoration: none;
}

.home-content-header {
    position:absolute;
    top:37%;
    padding-left:23px;
    z-index: 1;
}

.home-content-titles {
    position: relative;
}

.home-content-titles-container {
    padding-top: 27px
}

.home-content-titles li {
    font-size: 69px;
    font-family: 'neoubold';
    list-style-type: none;
    padding: 2px 0;
    line-height: 51px;
    color:yellow;
}

.logo-one {
    font-family: 'neouthin'; 
    z-index: 3;
    font-size: 31px;
    position: relative;
    color:#fff;
    font-size: 103px;
}

.logo-two {
    font-family: 'neoubold';
    z-index: 2;
    font-size: 31px;
    color:#ff0;
    position: relative;
    margin-left:-62px;
    font-size: 103px;
}

.logo-three {
    font-family: 'open_sansregular';
    z-index: 1;
    font-size: 19px;
    margin-left: -47px;
    color:#fff;
    font-size: 61px;
}

.logo-four {
    font-family: 'open_sans_light';
    letter-spacing: 5px;
    font-size: 61px;
}

.logo-five {
    font-family: 'neouthin';
    font-size: 103px;
}

.home-content-titles-container li {
    filter: alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    opacity: 0.7;
}

.intro-image {
    display:block;
    margin:0 auto;
}