<div class="about-container">
	<div class="about-img-wrapper">
		<img class="about-img" src="Pages/About/img/about_img.jpg"/>
	</div>
	<div class="about-title-wrapper">
		<p class="about-title">About</p>
	</div>
	<div class="container">
		<div class="row-fluid">
			<div class="span4 offset2">
				<div class="about-main-content">
					<p>I'm a UI/UX Designer who moved 2,073 miles from the Midwest in search of a competitive and challenging career.</p>

					<p>While doing web design, I always felt something was missing from my job. It wasn't until I started learning UX that I found the answer: people. Ever since, I have been obsessed with learning how people think and using those discoveries in my designs.</p>

					<p>I use other skills from my journalism and web design background such as web programming and writing. To keep from becoming stagnant, I try to throw in a challenge for myself in each project. Much of my work is varied in style.</p>
				</div>
			</div>
			<div class="span4">
				<div class="about-main-content">
					<p>However, I don’t work all the time (even though it feels like it some weeks). In my free
						time, I
						love
						playing the Sims, listening to EDM, or watching Design Star on HGTV. My biggest
						inspirations
						are
						from David Carson, Jan Tschichold and Salvador Dali.</p>

						<p>I do try to attend as many design or UX meetup groups as possible, so please say hi if you
							see me
							there.</p>
							<ul class="contact-list">
								<li><a href="mailto:skveerkamp@gmail.com?subject=Portfolio Message"><i class="fa fa-envelope"></i></a></li>
								<li><a href="http://www.twitter.com/skveerkamp"><i class="fa fa-twitter"></i></a></li>
								<li><a href="http://www.linkedin.com/in/skveerkamp"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="http://instagram.com/skveerkamp"><i class="fa fa-instagram"></i></a></li>
							</ul>

							<p class="byline">- Shannon Veerkamp</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
