<div class="about-container">
	<img class="about-img" src="./Pages/about/img/about_img.jpg"/>
	<div class="about-title-wrapper">
		<p class="about-title">About</p>
	</div>
	<div class="container">
		<div class="row-fluid">
			<div class="span12">
				<div class="about-main-content">
					<p>You know you’re doing it right when you annoy all your friends who aren’t
						designers.</p>

						<p>I like to think I do this at my current job as a web designer at Healthx, a web portal
							company. I
							also use my other skills such as UX, web programming and writing. To keep from becoming
							stagnant, I
							try to throw in a challenge for myself in each project. Much of my work is varied in
							style. I
							like to call myself a “mixed bag,” due to starting in a journalism
							background.</p>

							<p>However, I don’t work all the time (even though it feels like it some weeks). In my free
								time, I
								love
								playing the Sims, listening to Tool, or watching Design Star on HGTV. My biggest
								inspirations
								are
								from David Carson, Jan Tschichold and Salvador Dali.</p>

								<p>I do try to attend as many design or UX meetup groups as possible, so please say hi if you
									see me
									there.</p>

									<p class="about-desc-header">Veerkamp Visuals Got a Facelift</p>

									<p>It always starts with the question: How do you define yourself and design style?</p>

									<p>One of my strengths is art direction, so the main image on my homepage is a photo illustration. Despite groaning from the paper throwers, we finally got a money shot. The rest was Photoshop magic. The overall design of my portfolio reflects my style, which is sometimes illustrative and mimics deconstructivism.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
