<div class="about-container">
    <div class="about-inner">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">

                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <img src="./Pages/About/img/about1.jpg"/>
                </div>
                <div class="span8">
                    <div class="about-header">You really need more designer friends to talk to about this."</div>
                    <div class="byline">- my developer friend</div>
                    <div class="clear"></div>
                    <div class="about-desc"><p>You know you’re doing it right when you annoy all your friends who aren’t
                        designers.</p>

                        <p>I like to think I do this at my current job as a web designer at Healthx, a web portal
                            company. I
                            also use my other skills such as UX, web programming and writing. To keep from becoming
                            stagnant, I
                            try to throw in a challenge for myself in each project, so much of my work is varied in
                            style. I
                            like to call myself a “mixed bag,” due to starting in a print journalism design
                            background.</p>

                        <p>However, I don’t work all the time (even though it feels like it some weeks). In my free
                            time, I
                            love
                            playing the Sims, listening to Tool, or watching Design Star on HGTV. My biggest
                            inspirations
                            are
                            from David Carson, Jan Tschichold and Salvador Dali.</p>

                        <p>I do try to attend as many design or UX meetup groups as possible, so please say hi if you
                            see me
                            there.</p>

                        <p class="about-desc-header">Veerkamp Visuals Got a Facelift</p>

                        <p>It always starts with the question: How do you define yourself and design style?</p>

                        <p>One of my strengths is art direction, so I came up with the idea of using my designs and
                            paper
                            for
                            the front image. Our group got very tired of tossing papers into the air after two hours of
                            shots.
                            Thankfully, we got the money shot, and the rest was some photoshop magic.</p>
                    </div>
                </div>
            </div>
            <hr/>
        </div>
    </div>
</div>