<!DOCTYPE html>
<html>
<link href="..styles/resume-style.css" rel="stylesheet"/>
<head>
	<title>Shannon Veerkamp's Resume</title>
</head>
<body>
	<div class="container">
		<div class="row-fluid">
			<div class="span6">
				<div class="res-logo">
					<img src="../../../common/img/logo.jpg">
				</div>
				<div class="res-title">
					<div class="res-name">Shannon Veerkamp</div>
					<div class="res-job">Web Designer</div>
				</div>
			</div>
		</div>
	</div>
	<div class="res-content-wrapper">
		<div class="container">
			<div class="row-fluid">
				<div class="span12">
					<section>
						<article>article</article>
					</section>
					<footer></footer>
				</div>
			</div>
		</div>
	</div>	
</body>
</html>