.work-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.project-preview-container {
    width: 15%;
}

.timeline-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.project-breakdown-container {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;

    width: 100%;
    height: 100%;
    background-color: blue;
}