.work-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.project-preview-container {
    width:500px;
    margin: auto;
    margin-bottom:20px;
    overflow: hidden;

    cursor: pointer;
}

.preview-img-container img {
    width:100%;

}

.timeline-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.project-breakdown-container {

    color: #fcf8e3;

    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    overflow: auto;

    width: 100%;
    height: 100%;
    background-color: #555555;
}

.project-breakdown-container .project-slides-container .project-slide {
    width: 10%;
}

.timeline-home-header {
    margin: 10px auto;
    margin-top: 25px;
    display: block;
    text-align: center;
    border-top: 1px solid #ff0;
    border-bottom: 1px solid #ff0;
    transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    padding: 4px;
    color:transparent;
    text-indent: -99999px;

}

.timeline-home-header-text {
   margin: 0 auto;
   display: block;
   text-align: center;
   font-family: 'neouthin';
   color:#ff0;
   font-size: 47px;
   margin-top: -44px;
}

.triangle {
    font-size: 56px;
    line-height: 10px;
}

.preview-wrapper {
    position:relative;
}

.left-corner {
    width: 0; 
    height: 0; 
    position: absolute;
    bottom: 0;
    border-right: 60px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 274px solid rgba(0, 0, 0, .5);

    right: auto;
    left: 0;
}

.right-corner {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    border-right: 0px solid transparent;
    border-left: 60px solid transparent;
    border-top: 274px solid rgba(0, 0, 0, .5);

    left: auto;
    right: 0;
}

.project-preview-container.odd .left-corner {
    border-left: 0px solid transparent;
    border-right: 60px solid transparent;
    border-top: 274px solid rgba(0, 0, 0, .5);
    border-bottom-style: none;

    left: 0;
    right: auto;
}

.project-preview-container.odd .right-corner {
    border-left: 60px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 274px solid rgba(0, 0, 0, .5);
    border-top-style: none;

    right: 0;
    left: auto;
}

.project-preview-container .hover-detail {

    display: block;
    opacity: 0;

    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    text-align: center;
    color: white;
    background: #111;
}

.work-content-area .year-container {
    text-align: center;
    color: white;
    font-size: 20pt;
}

.project-nav {
    display: inline-block;
    list-style-type: none;
    margin-top: 20px;
}

.project-nav li {
    display: inline;
    border: 1px solid black;

    padding: 2px 4px;

    box-sizing: border-box;
}

.project-nav li div {
    display: inline-block;
.project-title {
    font-family:'neouthin';
    font-size: 43px;
    color:#ff0;
}
