.work-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.project-wrapper{
    position: relative;
    background: #222;
    width: 60%;
    margin: 50px auto;
    border:1px solid #000;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.project-wrapper:hover{
    border:1px solid #ff0;
    cursor: pointer;
}

.project-wrapper:hover .preview-title-container .name {
    color:#ff0;
}

.preview-img-container{
   display:inline-block;
   padding: 17px;
   width: 50%;
   max-width: 931px;
   box-sizing: border-box;
}

.preview-img-container img {
}

.timeline-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    overflow-x: hidden;
}

.project-breakdown-container {

    color: #fff;

    display: none;
    position: absolute;
    left: 100%;
    top: 0;

    overflow-x: hidden;
    overflow-y: auto;

    width: 100%;
    height: 100%;
    background-color: #000;
}

.project-breakdown-container .project-slides-container .project-slide {
    margin:20px 0;
}

.timeline-home-header {
    margin: 10px auto;
    margin-top: 25px;
    display: block;
    text-align: center;
    border-top: 1px solid #ff0;
    border-bottom: 1px solid #ff0;
    transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    padding: 4px;
    color:transparent;
    text-indent: -99999px;

}

.timeline-home-header-text {
   margin: 0 auto;
   display: block;
   text-align: center;
   font-family: 'neouthin';
   color:#ff0;
   font-size: 47px;
   margin-top: -44px;
}

.timeline-home-header-text.display-toggle {
    display:none;
}

.preview-title-container{
    display: inline-block;
}

.preview-title-container > div{
    display:inline-block;
    text-align: left;
}

.preview-title-container .name{
    position: absolute;
    bottom: 50%;
    font-size: 34px;
    font-family: 'Open Sans';
    color:#888;
    text-transform: uppercase;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
}

.preview-title-container .name i {
    font-size: 27px;
    margin-left: 12px;
}

.preview-title-container .role{
    position: absolute;
    top: 50%;
    font-size: 22px;
    font-family: 'Open Sans';
    font-style: italic;
    display:block;
    color: #444;
}

.preview-wrapper.loading {
    border: 1px solid #333333;
}

.preview-wrapper.loading .preview-img-container img {
    display: none;
}

.preview-wrapper:not(.loading) .spinner-container {
    display: none;
}
.preview-wrapper.loading .spinner-container {
    display: block;
}

.preview-wrapper.loading .left-corner,
.preview-wrapper.loading .right-corner {
    display: none;
}

.left-corner {
    width: 0; 
    height: 0; 
    position: absolute;
    bottom: 0;
    border-right: 60px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 274px solid rgba(0, 0, 0, .5);

    right: auto;
    left: 0;
}

.right-corner {
    width: 0;
    height: 0;
    position: absolute;
    bottom: 0;
    border-right: 0px solid transparent;
    border-left: 60px solid transparent;
    border-top: 274px solid rgba(0, 0, 0, .5);

    left: auto;
    right: 0;
}

.project-preview-container.odd .left-corner {
    border-left: 0px solid transparent;
    border-right: 60px solid transparent;
    border-top: 274px solid rgba(0, 0, 0, .5);
    border-bottom-style: none;

    left: 0;
    right: auto;
}

.project-preview-container.odd .right-corner {
    border-left: 60px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 274px solid rgba(0, 0, 0, .5);
    border-top-style: none;

    right: 0;
    left: auto;
}

.project-preview-container .hover-detail {

    display: inline-block;
    box-sizing: border-box;

    filter: alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 50%;
    margin-left: -25%;
    margin-top: -21px;

    text-align: center;
    color: white;
    background: #111;
    font-family: "open_sansbold_italic";
    padding:10px 30px;
}



.project-preview-container .spinner-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -28px;
    margin-top: -32px;

    color: yellow;
}

.work-content-area .year-container {
    text-align: center;
    color: white;
    font-size: 28pt;
    font-family: 'neoubold';
}

.project-title {
    font-family:'Open Sans';
    font-size: 26px;
    color:#ff0;
    text-transform: uppercase;
    display:inline-block;
    position: relative;
    top: -19px;
    left: 31px;
}

.project-role,
.project-type,
.project-tags h5,
.project-award h5
{
    font-family: 'open_sans_bold';
    color:#ff0;
}

.list li.project-tag {
    text-indent: 0;
    margin-left:0;
}

.project-award-list {
    color:#fff;
    font-size: 1em;
    font-family: 'open_sansregular';
}

.project-type {
    color:#fff;

}

.project-type-disclaimer {
    font-family: 'open_sansbold_italic';
}

.project-tag {
    font-family: 'open_sansregular';
}

.project-nav {
    list-style-type: none;
    margin-top: 20px;
    height: 20px;
    padding: 10px 0 18px;
    font-size: 140%;
    margin: 0;
    display:inline-block;
}

.project-nav-wrapper{
    background: #222;
    height: 62px;
}

.project-nav-table{
    display:inline-block;
}

.project-nav-table tr td{
    padding:11px 0 0px 7px;
    color:#666;
    cursor:pointer;
}

.project-nav-table tr td:hover{
    color:#ff0;
}

.project-nav-table tr td.top{
    padding-top:0;
}

.project-nav-table tr td.left{
    padding-top:2px;
}

.project-nav-table tr td.bottom{
    padding-top:15px;
}

.project-nav li {
    display: inline-block;
    padding: 2px 4px;
    line-height: normal;
    cursor: pointer;
}

.project-tags ul{
  margin-bottom:20px;
  overflow:hidden;
}

.project-view-line {
    border:0;
    border-top:1px solid #333;
    margin:20px 0;
}

.primary-btn.small-btn {
    padding: 9px 11px;
    font-size: 19px;
}

.project-custom-template{
    font-size: 13px;
    font-family: 'Open Sans';
    color: #CCC;
}

.project-custom-template h3{
    font-weight: 600;
    color: #ff0;
    font-size: 14px;
}

.project-custom-template a {
    font-weight: bold;
    color:#fff;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.project-custom-template a:hover {
    font-weight: bold;
    color:#ff0;
}

.work-header{
    font-style: italic;
    font-size: 14px;
    font-weight: 600;
    color:#fff;
}