<div class="main-img">
	<div class="parallax-container">
		<img class="layer9" data-xrange="20" data-yrange="20" src="Pages/Home/img/main-img-paper7.png" />
		<img class="layer8" data-xrange="30" data-yrange="30" src="Pages/Home/img/main-img-paper6.png" />
		<img class="layer7" data-xrange="80" data-yrange="100" src="Pages/Home/img/main-img-paper5.png" />
		<img class="layer6" data-xrange="30" data-yrange="30" src="Pages/Home/img/main-img-paper4.png" />
		<img class="layer5" data-xrange="20" data-yrange="30" src="Pages/Home/img/main-img-paper3.png" />
		<img class="layer4" data-xrange="30" data-yrange="20" src="Pages/Home/img/main-img-paper2.png" />
		<img class="layer3" data-xrange="20" data-yrange="30" src="Pages/Home/img/main-img-paper1.png" />
		<img class="layer2" data-xrange="80" data-yrange="100" src="Pages/Home/img/main-img-shadow.png" />
		<img class="layer1" data-xrange="0" data-yrange="0" src="Pages/Home/img/main-img1.jpg" />
	</div>
	<div class="main-img-nonparallax">
		<img src="Pages/Home/img/main-img2.jpg"/>
	</div>
</div>
<div class="container">
	<div class="row-fluid">
		<div class="span3 offset1">
			<ul class="home-content-links">
				<li>
					<a href="#Work" class="work">work</a>
				</li>
				<li>
					<a href="#About" class="about">about</a>
				</li>
				<li>
					<a href="#Blog" class="blog">blog</a>
				</li>
			</ul>
		</div>
		<div class="span8">
			<div class="home-content-titles">
				<div class="home-content-header">
					<span class="logo-one">VEER</span>
					<span class="logo-two">K<font class="logo-five">AMP</font></span>
					<span class="logo-three">vis<font class="logo-four">uals</font></span>
				</div>
				<ul class="home-content-titles-container">
                    <li class="home-content-title-work">
                        Design is a progressive art
                    </li>
                    <li class="home-content-title-about">
                        "You really need more designer friends..."
                    </li>
                    <li class="home-content-title-blog">
                        Dream, design, deliver
                    </li>
			    </ul>
			</div>
		</div>
	</div>
</div>
</div>